
.diamond{
    animation: rotate 5s infinite alternate;
}

@keyframes rotate {
    from{
        transform: skew(0);
    }
    to{
        transform: skew(20);
    }
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col"] {
      width: 100%;
    }

}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
    [class*="col"]{
        width: 20%;
    }
    [class*="col-6"]{
        width: 50%;
    }

}